icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-github {
  font-size:(22/10)*1rem;
  width:(26/22)*1em;
}
.icon-in {
  font-size:(22.938/10)*1rem;
  width:(24/22.938)*1em;
}
.icon-phone {
  font-size:(18.863/10)*1rem;
  width:(18.864/18.863)*1em;
}
.icon-skype {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon-vk {
  font-size:(17.123/10)*1rem;
  width:(30.011/17.123)*1em;
}
