{
  "extends": "standard",
  
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "ecmaFeatures": {
    "modules": true
  },
  
  "rules": {
    "linebreak-style": 0,
    "extra-semi": 0,
    "semi": 0,
    "one-var": 0
},
  
  "globals": {
    "window": true,
    "document": true
  }
}
