{
  "extends": "stylelint-config-standard",
  "rules": {
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-empty-line-before": [
    "always",
      {
        "ignore": [
          "after-declaration"
        ]
      }
    ]
  }
}
