include _mixin
block variables

doctype html
html
  head
    meta(charset='utf-8')

    title #{title}
    block description

    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // Template Basic Images Start
    //link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    //link(rel='icon', href='img/favicon/icon32x32.png', type='image/png' sizes="32x32")
    //link(rel='icon', href='img/favicon/icon96x96.png', type='image/png' sizes="96x96")
    //link(rel='apple-touch-icon', href='img/favicon/icon57x57.png')
    //link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/icon72x72.png')
    //link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/icon144x144.png')
    // Template Basic Images End

    // Custom Browsers Color Start
    block color
    // Custom Browsers Color End

    style(type="text/css").
      .preloader {
        display: flex;
        margin: auto;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #ccc;
      }

      .preloader img {
        width: 200px;
        height: 100px;
        margin: auto;
      }

    <!--[if lt IE 9]>
      script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->


  body.body
    .preloader
      img(src="img/preloader.svg" alt="preloader")

    // Custom HTML Start
    block content
    // Custom HTML End

    // Loading JS Start
    block js
    // Loading JS End

    // Loading CSS Start
    block styles
    // Loading CSS End

    //  Google fonts cdn
    script.
      WebFontConfig = {
        google: {
          families: ['Lato:300,300i,700', 'Open+Sans:400,700']
        }
      };
      (function () {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();


