include _mixin

doctype html
html
  head
    meta(charset='utf-8')
    block title
    block description
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    
    // Loading CSS Start
    block styles
    // Loading CSS End
    // Social tags Start
    // Recommended size is 1200x630
    meta(property='og:image', content='img/og.png')
    meta(property='og:title', content='Gulpimize')
    meta(property='og:description', content='Basic template for quickly getting started')
    // Social tags End
    // Template Basic Images Start
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='icon', href='img/favicon/icon32x32.png', type='image/png' sizes="32x32")
    link(rel='icon', href='img/favicon/icon96x96.png', type='image/png' sizes="96x96")    
    link(rel='apple-touch-icon', href='img/favicon/icon57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/icon72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/icon144x144.png')
    // Template Basic Images End
    // Loading fonts Start
    block fonts
    // Loading fonts End
    // Custom Browsers Color Start
    block color
    // Custom Browsers Color End
  body.body
    // Custom HTML Start
    block content
    // Custom HTML End
    // Loading JS Start
    block js
    // Loading JS End
