mixin color(color)
  // Chrome, Firefox OS and Opera
  meta(name='theme-color', content=color)
  // Windows Phone
  meta(name='msapplication-navbutton-color', content=color)
  // iOS Safari
  meta(name='apple-mobile-web-app-status-bar-style', content=color)

mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="./img/sprite.svg#" + name)