include _mixin

doctype html
html
  head
    meta(charset='utf-8')
    block title
    block description
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // Template Basic Images Start
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    // Template Basic Images End
    // This script must be placed in the HEAD above all external stylesheet declarations (link[rel=stylesheet])
    script
      include ../optimized/loadFont.min.js
    block loadFont
    // Load Custom CSS Start
    block loadCSS
    // Load Custom CSS End
    script
      include ../optimized/loadCSS.min.js
      include ../optimized/preloadCSS.min.js
    // Load Custom CSS Compiled without JS Start
    noscript
      link(rel='stylesheet', href='css/libs.css')
      link(rel='stylesheet', href='css/style.css')
    // Load Custom CSS Compiled without JS End
    // Custom Browsers Color Start
    block color
    // Custom Browsers Color End
  body
    // Custom HTML Start
    block content
    // Custom HTML End
    // Optimized loading JS Start
    block loadJS
    // Optimized loading JS End
