// The main file for the stylesheet
@import "../_mixin";
// Vars
@import "../_vars";
// Base
@import "../_base";
/* Sprites */
@import "../sprite";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

@import "../svg-symbols";
/* Styles */
@import "../components/header";
