// The main file for the stylesheet

// You can use Juice(http://kylebrumm.com/juice/) and bourbon(http://bourbon.io/)

@import "bourbon";
@import "../_mixin";
// First screen styles

// You can use Juice(http://kylebrumm.com/juice/) and bourbon(http://bourbon.io/)

// Vars

@import "../_vars";

/* Sprites */

@import "../sprite";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

@import "../svg-symbols";

/* Styles */

@import "../components/header";
