extends ../template
include ../_mixin

block title
  title Gulpimize

block description
  meta(name='Gulpimize', content='Basic template for quickly getting started')

block color
  +color('#3A4446')

block styles
  link(rel="stylesheet" href="css/libs.css")
  link(rel="stylesheet" href="css/main.css")

block js
  script(defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(defer src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
  script(defer src="js/commons.js")
  script(defer src="js/index.js")

block content
