extends ../_template
include ../_mixin

block variables
  - var title = 'Gulpimize'

block description
  meta(name='Gulpimize', content='Basic template for quickly getting started')

block color
  +color('#3A4446')

block styles
  link(rel="stylesheet" href="css/libs.css")
  link(rel="stylesheet" href="css/index.css")

block js
  script(defer src="js/commons.js")
  script(defer src="js/index.js")

block content