extends ../template
include ../_mixin

block title
  title Gulp

block description
  meta(name='Gulp', content='Gulp, webpack, es6, postcss, scss, asyncLoadFont, asyncLoadJS, asyncLoadCSS')

block color
  +color('#CF4646')

block loadFont
  script.
    loadFont('RalewayRegular', 'css/fonts.woff.css', 'css/fonts.woff2.css');
    loadFont('FontAwesome', 'css/fonts.woff.css', 'css/fonts.woff2.css');

block loadCSS
  link(rel="preload", href="css/style.css", as="style", onload="this.rel='stylesheet'")
  link(rel="preload", href="css/libs.css",  as="style", onload="this.rel='stylesheet'")

block content
  a(href="https://github.com/zanusilker/gulpimize")
    img(style="position: absolute; top: 0; left: 0; border: 0;", src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png")
  .header
    .header__block
      h1.header__h1 Gulp
      i.fa.fa-eercast(aria-hidden="true")

block loadJS
    script
      |var scr = {
      |  "scripts": [
      |    {"src": "js/common.js", "async": false},
      |    {"src": "js/main.js", "async": false}
      |  ]
      |};
      include ../../optimized/loadJS.min.js
