extends ../template
include ../_mixin

block title
  title Gulp

block description
  meta(name='Gulp', content='Gulp, webpack, es6, postcss, scss, asyncLoadFont, asyncLoadJS, asyncLoadCSS')

block color
  +color('#CF4646')

block loadFont
  script
    |loadFont('RalewayRegular', 'css/fonts.woff.css', 'css/fonts.woff2.css');
    |loadFont('FontAwesome', 'css/fonts.woff.css', 'css/fonts.woff2.css');

block loadCSS
  link(rel="preload", href="css/style.css", as="style", onload="this.rel='stylesheet'")
  link(rel="preload", href="css/libs.css",  as="style", onload="this.rel='stylesheet'")

block content
  .header
    .header__block
      h1.header__h1 Gulp
      i.fa.fa-eercast(aria-hidden="true")

block loadJS
    script
      |var scr = {
      |  "scripts": [
      |    {"src": "js/common.js", "async": false},
      |    {"src": "js/main.js", "async": false}
      |  ]
      |};
      include ../../optimized/loadJS.min.js
