extends ../template

block title
  title Gulp

block description
  meta(name='description', content='Gulp')

block color
  +color("#CF4646")

block content
  .header
    .header__block
      h1.header__h1 Gulp

  +scripts()